<div class="well profile-edit">
  <div class="profile-edit-inner">
<h2 class="nuvo wtxt">Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :username, :class => 'nuvo wtxt' %><br />
  <%= f.text_field :username %>

  <div><%= f.label :email, :class => 'nuvo wtxt' %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password, :class => 'nuvo wtxt' %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, :class => 'nuvo wtxt' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><p class="nuvo wtxt">Your Age</br>
  <%= f.text_field :age, :placeholder => 'Age goes here!' %></p></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
</div>
